<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>International Center for diagnosis and treatment</title>
<link href="~/Content/css/uikit.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/css/customize.css" rel="stylesheet" type="text/css">
<script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
<script src="~/Content/js/uikit.min.js"></script>
<script src="~/Content/js/customize.js"></script>
</head>

<body>
<div class="uk-container uk-container-center">
  <nav class="uk-navbar"> <a href="" class="uk-navbar-brand mtp18"><img src="~/Content/img/pages/logo.png" alt="" width="605" height="96" /></a>
    <div class="uk-navbar-flip mtp46">
      <ul class="uk-navbar-nav">
        <li><a href="~/Hospital/Index">首页</a></li>
        <li><a href="javascript:void(0);">国际诊疗网</a></li>
        <li><a href="javascript:void(0);"><i class="uk-icon-home uk-icon-small"></i></a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="uk-container uk-container-center">
  <div class="uk-grid">
    <div class="uk-width-7-10">
      <h3>International Center for diagnosis and treatment</h3>
      <p class="uk-clearfix lh30"> <img class="uk-align-medium-left" src="~/Content/img/pages/pic-0.png" alt="" width="238" height="178" /> The First Affiliated Hospital of Xi'an Jiao Tong University is directly under the Ministry of health in teaching, medical and scientific research, prevention and health care as one of the three grade of stomatological hospital, northwest oral medical professional teacher training center, is the Ministry of health to continue. The First Affiliated Hospital of Xi'an Jiao Tong University is directly under the Ministry of health in teaching, <a href="~/Hospital/Department">detailed</a> </p>
      <!-- doctor tab start -->
      <ul class="uk-tab uk-tab-grid uk-tab-top" data-uk-tab data-uk-switcher="{connect:'#doctab'}">
        <li class="uk-width-1-3 uk-active"><a href="#">Doctor's arrangement</a></li>
        <li class="uk-width-1-3"><a href="#">Reservation query</a></li>
        <li class="uk-width-1-3"><a href="#">Reservation notes</a></li>
      </ul>
      <ul id="doctab" class="uk-switcher">
        <li class="uk-text-center doctab"> 
          <!-- content start -->
          <div class="week uk-float-left uk-margin-top" id="Monday-flag">
            <h4>Monday</h4>
              @*<div id="Monday-flag"></div>*@
            @*<div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><a href="#appointment" data-uk-modal="{center:true}"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></a></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>
            <div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>
            <div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>
            <div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>
            <div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>
            <div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>
            <div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>*@
          </div>
          <!-- content end --> 
          <!-- loops start -->
          <div class="week uk-float-left uk-margin-top" id="Tuesday-flag">
            <h4>Tuesday</h4>
              @*<div id="Tuesday-flag"></div>*@
            @*<div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>*@
          </div>
          <div class="week uk-float-left uk-margin-top" id="Wednesday-flag">
            <h4>Wednesday</h4>
              @*<div id="Wednesday-flag"></div>*@
            @*<div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>*@
          </div>
          <div class="week uk-float-left uk-margin-top" id="Thursday-flag">
            <h4>Thursday</h4>
              @*<div id="Thursday-flag"></div>*@
            @*<div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>
            <div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>*@
          </div>
          <div class="week uk-float-left uk-margin-top" id="Friday-flag">
            <h4>Friday</h4>
              @*<div id="Friday-flag"></div>*@
            @*<div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>
            <div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>
            <div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>*@
          </div>
          <div class="week uk-float-left uk-margin-top" id="Saturday-flag">
            <h4>Saturday</h4>
              @*<div id="Saturday-flag"></div>*@
            @*<div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>*@
          </div>
          <div class="week uk-float-left uk-margin-top" id="Sunday-flag">
            <h4>Sunday</h4>
              @*<div id="Sunday-flag"></div>*@
            @*<div class="uk-text-center">
              <p class="uk-clearfix">
              <div class="tab-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="50" height="50" /></div>
              <span>Wu Ke Chen</span>
              </p>
            </div>*@
          </div>
          <!-- loops end --> 
        </li>
        <!-- query start -->
        <li class="tabquery" id="query-table">
          <h4 class="uk-text-center">Note: Please fill in your reservation name and identification number, so that we can check your reservation information!</h4>
          <form class="uk-form" id="query-form">
            <table width="70%" border="0" cellspacing="0" cellpadding="0" class="uk-container-center">
              <tbody>
                <tr class="lht70">
                  <td class="uk-width-1-6 uk-text-left">Full name</td>
                  <td><div class="uk-form-row">
                      <input type="text" placeholder="Full name" class="uk-form-large" id="full-name">
                    </div></td>
                  <td>
                      <span class="uk-form-help-inline">Please fill in the passport name</span>

                  </td>
                </tr>
                <tr class="uk-margin-large">
                  <td class="uk-width-1-6 uk-text-left">Passport No.</td>
                  <td><div class="uk-form-row">
                      <input type="text" placeholder="Passport No" class="uk-form-large" id="passport-no">
                    </div></td>
                  <td>
                      <span class="uk-form-help-inline">Please enter your passport number at the time of your reservation</span>
                       
                  </td>
                    
                </tr>
                  <tr id="contactError">
                      <td colspan="3">
                        <p style="margin-left:90px;margin-top:20px;"><i class="uk-icon-times-circle uk-icon-medium uk-icon-justify red"></i><span class="red f16" id="contactErrorSpan">Please fill in the complete Full Name and passport</span></p>
                    </td>
                  </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td><button class="uk-button uk-button-large btn-submit" id="query-submit" type="button" onClick="DoctorIndex.querySubmit()">Reservation query</button></td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </form>
        </li>
        <!-- query end --> 
        <!-- notes start -->
        <li>
          <ul class="uk-list uk-list-space tablist">
            <li>1. what are the user login modes?
              <p>Site login in the top right corner of the home page, click on the login, support user name and medical card login. When you login, you need to enter your username and password at the time of registration. When you visit the card, you need to enter the medical card number and the medical card password.</p>
            </li>
            <hr class="uk-article-divider">
            <li>2. medical card registration, each time you need to verify the information and improve the information? How to operate?
              <p>Only the first use of the medical card registration, you need to bind operation, when the medical card login, enter the medical card number and card password login. When binding, to verify the card information, you need to enter the medical card to provide the name and phone number, and then enter the ID number, confirm the error, click submit. If the information submitted in the booking site exists, it will prompt you to submit the document information already exists, please click ok! Will jump to the booking network account verification page, enter the reservation network account number and password, you can complete the binding.</p>
            </li>
            <hr class="uk-article-divider">
            <li>3. how do you forget your name or cell phone number when you check the card?
              <p>When the card is not complete, the information can be added or modified at the No. 10-12 window of the first floor of the outpatient clinic.</p>
            </li>
            <hr class="uk-article-divider">
            <li>4. verify the reservation network account when the password error, how to do?
              <p>When you have a password error, you can choose to forget your password on the authentication page, forget the password, support the mailbox and retrieve the phone, but the mailbox and cell phone information must be correct. If the mailbox or cell phone number is forgotten, you can reset the password in the outpatient appointment window.</p>
            </li>
          </ul>
        </li>
        <!-- notes end -->
      </ul>
      <!-- doctor tab end --> 
      <!-- Booking help start -->
      <div class="uk-width-1-1 uk-margin-large-top uk-float-left">
        <div class="uk-panel uk-panel-header">
          <h3 class="uk-panel-title"><span class="bookingtit">Booking help</span></h3>
          <div class="uk-width-1-1">
            <div class="uk-grid">
              <div class="uk-width-1-2">
                <p class="uk-clearfix"><span class="mapbox"><img class="uk-align-medium-left" src="~/Content/img/pages/map.png" alt="" width="336" height="252" /></span> </p>
              </div>
              <div class="uk-width-1-2 pdl0">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="lh24 tabicon">
                  <tbody>
                    <tr>
                      <td width="180px" class="uk-text-top"><img src="~/Content/img/pages/icon-phone.png" alt=""/>Reservation telephone:</td>
                      <td>029-12314577</td>
                    </tr>
                    <tr>
                      <td class="uk-text-top"><img src="~/Content/img/pages/icon-ld.png" alt=""/>Advisory telephone:</td>
                      <td>029-12314577</td>
                    </tr>
                    <tr>
                      <td class="uk-text-top"><img src="~/Content/img/pages/icon-mapmark.png" alt=""/>Hospital address:</td>
                      <td>No. 277, Yanta West Road, Shaanxi, Xi'an (main hospital area)</td>
                    </tr>
                    <tr>
                      <td class="uk-text-top"><img src="~/Content/img/pages/icon-bus.png" alt=""/>Bus route:</td>
                      <td>5 road, 401 Road, 503 road; 631 road; 709 road; 710 road; education line; 726 road 18; 30 road; 106 road; 203 road; 217 road; 321 road; road; 401 road; 605 road; road; 713 road; 933 Road</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Booking help end --> 
    </div>
    <!-- side doctor start -->
    <div class="uk-width-3-10">
      <div class="rdoc">
        <h3>Expert introduction</h3>
        <!-- content -->
          <div id="right-append"></div>
        @*<figure class="uk-overlay uk-overlay-hover">
          <div class="uk-text-center">
            <p class="uk-clearfix">
            <div class="side-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="100" height="100" /></div>
            <strong>KangLi Bai</strong> <i>Internal medicine Chief physician</i>
            </p>
          </div>
          <div class="uk-overlay-panel uk-overlay-fade uk-overlay-background">
            <h4>B good at:</h4>
            <p>Pediatric emergency,fever,cough,upper respiratory tract infectionPediatric emergency,fever,cough,upper respiratory tract infection</p>
          </div>
          <a class="uk-position-cover" href="http://www.163.com"></a> </figure>
        <figure class="uk-overlay uk-overlay-hover">
          <div class="uk-text-center">
            <p class="uk-clearfix">
            <div class="side-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="100" height="100" /></div>
            <strong>KangLi Bai</strong> <i>Internal medicine Chief physician</i>
            </p>
          </div>
          <div class="uk-overlay-panel uk-overlay-fade uk-overlay-background">
            <h4>B good at:</h4>
            <p>Pediatric emergency,fever,cough,upper respiratory tract infectionPediatric emergency,fever,cough,upper respiratory tract infection</p>
          </div>
          <a class="uk-position-cover" href="http://www.163.com"></a> </figure>
        <figure class="uk-overlay uk-overlay-hover">
          <div class="uk-text-center">
            <p class="uk-clearfix">
            <div class="side-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="100" height="100" /></div>
            <strong>KangLi Bai</strong> <i>Internal medicine Chief physician</i>
            </p>
          </div>
          <div class="uk-overlay-panel uk-overlay-fade uk-overlay-background">
            <h4>B good at:</h4>
            <p>Pediatric emergency,fever,cough,upper respiratory tract infectionPediatric emergency,fever,cough,upper respiratory tract infection</p>
          </div>
          <a class="uk-position-cover" href="http://www.163.com"></a> </figure>
        <figure class="uk-overlay uk-overlay-hover">
          <div class="uk-text-center">
            <p class="uk-clearfix">
            <div class="side-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="100" height="100" /></div>
            <strong>KangLi Bai</strong> <i>Internal medicine Chief physician</i>
            </p>
          </div>
          <div class="uk-overlay-panel uk-overlay-fade uk-overlay-background">
            <h4>B good at:</h4>
            <p>Pediatric emergency,fever,cough,upper respiratory tract infectionPediatric emergency,fever,cough,upper respiratory tract infection</p>
          </div>
          <a class="uk-position-cover" href="http://www.163.com"></a> </figure>
        <figure class="uk-overlay uk-overlay-hover">
          <div class="uk-text-center">
            <p class="uk-clearfix">
            <div class="side-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="100" height="100" /></div>
            <strong>KangLi Bai</strong> <i>Internal medicine Chief physician</i>
            </p>
          </div>
          <div class="uk-overlay-panel uk-overlay-fade uk-overlay-background">
            <h4>B good at:</h4>
            <p>Pediatric emergency,fever,cough,upper respiratory tract infectionPediatric emergency,fever,cough,upper respiratory tract infection</p>
          </div>
          <a class="uk-position-cover" href="http://www.163.com"></a> </figure>
        <figure class="uk-overlay uk-overlay-hover">
          <div class="uk-text-center">
            <p class="uk-clearfix">
            <div class="side-doc uk-container-center"><img class="uk-align-center uk-border-circle" src="~/Content/img/pages/pic-doc.png" alt="" width="100" height="100" /></div>
            <strong>KangLi Bai</strong> <i>Internal medicine Chief physician</i>
            </p>
          </div>
          <div class="uk-overlay-panel uk-overlay-fade uk-overlay-background">
            <h4>B good at:</h4>
            <p>Pediatric emergency,fever,cough,upper respiratory tract infectionPediatric emergency,fever,cough,upper respiratory tract infection</p>
          </div>
          <a class="uk-position-cover" href="http://www.163.com"></a> </figure>*@
      </div>
    </div>
    <!-- side doctor end --> 
  </div>
</div>
<!-- footer start -->
<div class="footer uk-margin-top">
  <div class="uk-container uk-container-center">
    <div class="uk-grid uk-grid-divider">
      <div class="uk-width-3-5">
        <div class="uk-panel branch">
          <h3 class="uk-panel-title">Branch information</h3>
          <p>The First Affiliated Hospital of Xi'an Jiao Tong University Medical College</p>
          <p>The First Affiliated Hospital of Binxian County Jiaotong University.</p>
          <p>The First Affiliated Hospital of Hancheng Jiaotong University.</p>
          <p>International land Hospital; land and port clinic.</p>
        </div>
      </div>
      <div class="uk-width-2-5">
        <div class="uk-panel social">
          <h3 class="uk-panel-title uk-margin-bottom">About us</h3>
          <p><a href="#" class="uk-icon-button uk-icon-weibo"></a><a href="#" class="uk-icon-button uk-icon-tencent-weibo"></a><a href="#" class="uk-icon-button uk-icon-wechat"></a></p>
          <p><img src="~/Content/img/pages/pic-ewm.png" alt=""/></p>
          <p>Scanning concern Jiaotong University Affiliated Hospital</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cp">
  <div class="uk-container uk-container-center"> Copyright &copy; 2011, the First Affiliated Hospital of Xi'an Jiao Tong University, Shaanxi Province, ICP 12009712, -3. Address: No. 277, Yanta West Road, Shaanxi, Xi'an: 710061 </div>
</div>
<!-- footer end --> 
<!-- popup start -->
<div id="appointment" class="uk-modal" style="position:fixed;z-index:10000">
  <div class="uk-modal-dialog"> <a class="uk-modal-close uk-close"></a>
    <div class="uk-modal-header">
      <h3>Reservation prompt</h3>
    </div>
    No card reservation is successful, please record this medical record number 0029492847, go to the self-help machine for medical card, please keep in mind your medical card password, and then take the number to see a doctor! Your appointment is neurology, <i>Dang Xia Xia, 2017, 01,04 07:50~07:52.</i>
    <div class="uk-modal-footer uk-text-right">
      <button type="button" class="uk-button uk-text-right" onClick="window.location.href='@Url.Content("~/Hospital/FormSubscribe")'">Confirm</button>
    </div>
  </div>
</div>
<!-- popup end -->

    <script type="text/javascript">
        var PanDataArray = [];

        function max(arr) {
            var num = arr[0];
            for (var i = 0; i < arr.length; i++) {
                if (num < arr[i]) {
                    num = arr[i]
                }
            }
            return num;
        }

        var DoctorIndex = function () {
            return {
                //获取医生列表信息
                getDoctorList: function () {
                    var url = "@Url.Content("~/UIManage/Doctor/GetDoctorList")";
                    $.ajax({
                        type:'post',
                        url: url,
                        success: function (data) {
                            debugger;
                            var result = JSON.parse(data);
                            //展示数据
                            if (result.IsSuccess == true) {
                                //右部展示数据
                                for (var i = 0; i < result.Result.length; i++) {

                                    $("#right-append").append("<figure class=\"uk-overlay uk-overlay-hover\">" +
                                    "<div class=\"uk-text-center\">" +
                                        "<p class=\"uk-clearfix\">"+
                                            "<div class=\"side-doc uk-container-center\">"+
                                                "<img class=\"uk-align-center uk-border-circle\" src=" + result.Result[i].Avatar +"  width=\"100\" height=\"100\" />" +
                                            "</div>"+
                                            "<strong>" + result.Result[i].DoctorName +"</strong> <i>" + "Internal medicine Chief physician" +"</i>"+
                                        "</p>"+
                                    "</div>"+
                                    "<div class=\"uk-overlay-panel uk-overlay-fade uk-overlay-background\">"+
                                        "<h4>Be good at:</h4>"+
                                        "<p>"+ result.Result[i].GootAt+"</p>"+
                                    "</div>"+
                                    "<a class=\"uk-position-cover\" href=\"../Hospital/Doctor?DocId=" + String(result.Result[i].DoctorId) +"\"></a> </figure>"
                                    );
                                    //展示左部数据
                                    for (var j = 0; j < result.Result[i].VisitList.length; j++) {
                                        switch (result.Result[i].VisitList[j]) {
                                            case 1:
                                                //周一添加
                                                $("#Monday-flag").append("<div class=\"uk-text-center\">"+
                                                    "<p class=\"uk-clearfix\">"+
                                                        "<div class=\"tab-doc uk-container-center\">"+
                                                            "<a href=\"../Hospital/Doctor?DocId=" + String(result.Result[i].DoctorId) + "\">" +
                                                                "<img class=\"uk-align-center uk-border-circle\" src=" + result.Result[i].Avatar + " alt=\"\" width=\"50px\" height=\"50px\" />" +
                                                            "</a></div>"+
                                                        "<span>" + result.Result[i].DoctorName + "</span>" +
                                                    "</p></div>");
                                                break;
                                            case 2:
                                                //周二添加
                                                $("#Tuesday-flag").append("<div class=\"uk-text-center\">" +
                                                    "<p class=\"uk-clearfix\">" +
                                                        "<div class=\"tab-doc uk-container-center\">" +
                                                            "<a href=\"../Hospital/Doctor?DocId=" + String(result.Result[i].DoctorId) + "\">" +
                                                                "<img class=\"uk-align-center uk-border-circle\" src=" + result.Result[i].Avatar + " alt=\"\" width=\"50px\" height=\"50px\" />" +
                                                            "</a></div>" +
                                                        "<span>" + result.Result[i].DoctorName + "</span>" +
                                                    "</p></div>");
                                                break;
                                            case 3:
                                                //周三添加
                                                $("#Wednesday-flag").append("<div class=\"uk-text-center\">" +
                                                    "<p class=\"uk-clearfix\">" +
                                                        "<div class=\"tab-doc uk-container-center\">" +
                                                            "<a href=\"../Hospital/Doctor?DocId=" + String(result.Result[i].DoctorId) + "\">" +
                                                                "<img class=\"uk-align-center uk-border-circle\" src=" + result.Result[i].Avatar + " alt=\"\" width=\"50px\" height=\"50px\" />" +
                                                            "</a></div>" +
                                                        "<span>" + result.Result[i].DoctorName + "</span>" +
                                                    "</p></div>");
                                                break;
                                            case 4:
                                                //周四添加
                                                $("#Thursday-flag").append("<div class=\"uk-text-center\">" +
                                                    "<p class=\"uk-clearfix\">" +
                                                        "<div class=\"tab-doc uk-container-center\">" +
                                                            "<a href=\"../Hospital/Doctor?DocId=" + String(result.Result[i].DoctorId) + "\">" +
                                                                "<img class=\"uk-align-center uk-border-circle\" src=" + result.Result[i].Avatar + " alt=\"\" width=\"50px\" height=\"50px\" />" +
                                                            "</a></div>" +
                                                        "<span>" + result.Result[i].DoctorName + "</span>" +
                                                    "</p></div>");
                                                break;
                                            case 5:
                                                //周五添加
                                                $("#Friday-flag").append("<div class=\"uk-text-center\">" +
                                                    "<p class=\"uk-clearfix\">" +
                                                        "<div class=\"tab-doc uk-container-center\">" +
                                                            "<a href=\"../Hospital/Doctor?DocId=" + String(result.Result[i].DoctorId) + "\">" +
                                                                "<img class=\"uk-align-center uk-border-circle\" src=" + result.Result[i].Avatar + " alt=\"\" width=\"50px\" height=\"50px\" />" +
                                                            "</a></div>" +
                                                        "<span>" + result.Result[i].DoctorName + "</span>" +
                                                    "</p></div>");
                                                break;
                                            case 6:
                                                //周六添加
                                                $("#Saturday-flag").append("<div class=\"uk-text-center\">" +
                                                    "<p class=\"uk-clearfix\">" +
                                                        "<div class=\"tab-doc uk-container-center\">" +
                                                            "<a href=\"../Hospital/Doctor?DocId=" + String(result.Result[i].DoctorId) + "\">" +
                                                                "<img class=\"uk-align-center uk-border-circle\" src=" + result.Result[i].Avatar + " alt=\"\" width=\"50px\" height=\"50px\" />" +
                                                            "</a></div>" +
                                                        "<span>" + result.Result[i].DoctorName + "</span>" +
                                                    "</p></div>");
                                                break;
                                            case 7:
                                                //周日添加
                                                $("#Sunday-flag").append("<div class=\"uk-text-center\">" +
                                                    "<p class=\"uk-clearfix\">" +
                                                        "<div class=\"tab-doc uk-container-center\">" +
                                                            "<a href=\"../Hospital/Doctor?DocId=" + String(result.Result[i].DoctorId) + "\">" +
                                                                "<img class=\"uk-align-center uk-border-circle\" src=" + result.Result[i].Avatar + " alt=\"\" width=\"50px\" height=\"50px\" />" +
                                                            "</a></div>" +
                                                        "<span>" + result.Result[i].DoctorName + "</span>" +
                                                    "</p></div>");
                                                break;
                                            default:
                                                //默认
                                                break;
                                        }
                                    }

                                    //再次设置左部高度
                                    $("#Monday-flag").height("auto");
                                    $("#Tuesday-flag").height("auto");
                                    $("#Wednesday-flag").height("auto");
                                    $("#Thursday-flag").height("auto");
                                    $("#Friday-flag").height("auto");
                                    $("#Saturday-flag").height("auto");
                                    $("#Sunday-flag").height("auto");
                                }
                                
                            }
                            //设置高度
                            var $elements = $('.uk-float-left');
                            for (var i = 0; i <$elements.length-1; i++) {
                                var a = $($elements[i]).height();
                                console.log(a);
                                PanDataArray.push(a);
                            }
                            console.log(PanDataArray);
                            var height = max(PanDataArray);
                            //再次设置左部高度
                            $("#Monday-flag").height(height);
                            $("#Tuesday-flag").height(height);
                            $("#Wednesday-flag").height(height);
                            $("#Thursday-flag").height(height);
                            $("#Friday-flag").height(height);
                            $("#Saturday-flag").height(height);
                            $("#Sunday-flag").height(height);
                        },
                        error: function (e) {
                        }
                    })
                },
                //预约查询
                querySubmit: function () {
                    
                    //如果没有填写全名或者护照---提示页面
                    var FullName = $("#full-name").val();
                    var PassportNo = $("#passport-no").val();
                    if (FullName == "" || PassportNo == "") {
                        //alert("请填写完整的名称和护照");
                        $("#contactErrorSpan").text("Please fill in the complete Full Name and passport");
                        $("#contactError").css("display", "");
                        return false;
                    } else {
                        var url = "@Url.Content("~/UIManage/Doctor/GetOrderList")";
                        $.ajax({
                            type: "post",
                            url: url,
                            data: { FullName: FullName, PassportNo: PassportNo },
                            success: function (data) {
                                
                                var result = JSON.parse(data);
                                if (result.IsSuccess == true) {
                                    //这里处理如果没有数据，则提示
                                    if (result.Result == null) {
                                        $("#contactErrorSpan").text("Search No Data");
                                        $("#contactError").css("display", "");
                                        return false;
                                    }
                                    //渲染页面
                                    $("#query-form").css("display", "none");
                                    $("#query-table").append("<table  class=\"uk-table uk-table-striped\">" +
                                        "<thead>"+
                                            "<tr>"+
                                                "<th class=\"uk-width-1-10\">Full name</th>"+
                                                "<th class=\"uk-width-1-10\">Gender</th>"+
                                                "<th class=\"uk-width-1-10\">Date of birth</th>"+
                                                "<th class=\"uk-width-2-10\">Identification Number</th>"+
                                                "<th class=\"uk-width-1-10\">description</th>"+
                                                "<th class=\"uk-width-1-10\">Cell-phone</th>"+
                                                "<th class=\"uk-width-1-10\">Appointment</th>"+
                                                "<th class=\"uk-width-1-10\">Operating</th>"+
                                            "</tr>"+
                                        "</thead><tbody id=\"inner-querytable\"></tbody></table>");
                                    if (result.Result != null) {
                                        for (var i = 0; i < result.Result.length; i++) {
                                            var splitAppointment = result.Result[i].Appointment.split(" ");//空格分割
                                            $("#inner-querytable").append("<tr class=\"uk-table-middle\">" +
                                              "<td>" + result.Result[i].FullName + "</td>" +
                                              "<td>" + result.Result[i].Gender + "</td>" +
                                              "<td>" + result.Result[i].DateOfBirth + "</td>" +
                                              "<td>" + result.Result[i].IdentificationNumber + "</td>" +
                                              "<td>" + result.Result[i].Description + "</td>" +
                                              "<td>" + result.Result[i].CellPhone + "</td>" +
                                              "<td>" + splitAppointment[0] + "<br />" + splitAppointment[1] + "</td>" +
                                              "<td>" + result.Result[i].Operating + "</td>" +
                                            "</tr>");
                                        }
                                    }
                                }
                            },
                            error: function (e) {

                            }
                        })
                    }
                },
            }
        }();
        $(function () {
            $("#contactError").css("display", "none");
            DoctorIndex.getDoctorList();
        });
    </script>
</body>
</html>


